/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.house-image{
    background-image: url("https://topagentmagazine.com/profiles/2017/03/luxury-house-760x427.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}